* {
  overflow: hidden;
}

.css-19r4j7w {
  font-family: var(--chakra-fonts-heading);
  font-weight: var(--chakra-fontWeights-bold);
  font-size: 20px;
  line-height: 1.33;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  text-decoration-color: currentcolor;
  text-decoration-thickness: auto;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
  margin-top: var(--chakra-space-3);
  margin-bottom: var(--chakra-space-4);
}
